<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> 
    <%- include('partials/header.ejs') -%>
</head>
<body>

    <%- include('partials/navbar.ejs') -%>
    <br>
    

    <div class="container">
        <a class="btn btn-outline-success" href="/perguntar"><h4> NOVA PERGUNTA</h4></a>
        <hr> <br>
        <% perguntas.forEach(pergunta =>{%>     <div class="card">
            <div class="card-body">
                
                 <h4><%= pergunta.titulo %></h4>
            </div> 
            <div class="card-footer"> 
               <a href="/home/<%= pergunta.titulo %>"><button type="submit" class="btn btn-outline-secondary">Responder</button></a> 

            </div> 
        </div> <br>
            
            <%}) 
        
        
        %> 
        
    
    </div>
    
</body>
<%- include('partials/footer.ejs') -%>
</html>